<div class="row">
  <div class="span3">
    <h1>Sign in</h1>
  </div>

  <div class="span3">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <%= f.submit "Sign in", :class => "btn btn-primary btn-large" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>